.btn-apply {
  position: absolute;
  margin-top: 8%;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}

.leave-label {
  margin-top: 8%;
  text-align: center;
  cursor: pointer;
}

.chart-container {
  position: relative;
}

.pending-request {
  padding: 5px;
}

.employee-filter label {
  margin-bottom: 0 !important;
}

.employee-filter {
  top: 7px;
  min-width: 300px;
}

.btn-filter {
  top: 15px;
  position: relative;
  width: 100px;
  margin-right: 3%;
}

.field-reset {
  margin-right: 10%;
}

span.badge-status {
  text-align: center;
  width: 105px;
  padding: 5px;
}

#bundle_submit {
  top: 23px;
  right: 5px;
  position: relative;
}

.btn-cancel {
  color: #fff;
  background-color: grey;
  border-color: grey;
}

.btn-cancel:hover {
  background-color: white;
  border-color: grey;
}

.space-margin {
  padding-right: 3% !important;
}


/*# sourceMappingURL=leaves.css.map*/